.idea
.DS_Store
.vscode
.vagrant
*.exe
bin
solution_test.go
solution.go
solution*

vendor/

mem.out
mem_out.txt
cpu.out
cpu_out.txt
main.test
main.test.exe
pprof_1.exe
pprof_2.exe
tracing.exe
codegen.exe
goroutines.txt
trace.out